@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
}
body
{
     background-color: #000;
}

.box
{
     background-color: #121212;
     margin: 1% 37%;
     width: 24%;
     height: 580px;
}
.menu
{
     padding: 10px;
     align-items: center;
     margin-bottom: 40px;
}
.menu a
{
     color: #DCDCDC;
     font-size: 15px;
     text-decoration: none;
     text-transform: uppercase;
     padding-left: 50px;
}
.menu i
{
     color: #2273C2;
     padding-left: 15px;
     cursor: pointer;
}
.menu a.active
{
     color: #2273C2;
     font-weight: bold;
}
.freq
{
     text-align: center;
     color: #DCDCDC;
}
.freq p
{
     font-family: "Century Gothic";
     font-size: 60px;
     margin-right: -50px;
}
.freq span
{
     font-size: 15px;
}

.liste
{
     color: #fff;
     font-size: 12px;
     margin-left: 20px;
     margin-top: 10px;
}
.vertic
{
     margin-left: 29px;
}
.vertic p
{
     color: #414141;
     font-size: 27px;
     font-family: Segoe UI;
     letter-spacing: -1px;
}
.vertic span
{
     color: #F25365;
     text-shadow: #F25365 1px 0px 5px;
     font-size: 60px;
}
.div
{
     display: flex;
     margin-left: 20px;
     margin-top: -10px;
}
.div p
{
     font-size: 10px;
     color: #fff;
}
.first
{
     margin-right: 240px;
}
.radio
{
     align-items: center;
     margin-top: 40px;
     margin-bottom: 40px;
}
.radio p
{
     color: #414141;
     margin-top: 5px;
     font-size: 13px;
     font-weight: bold;
     text-align: center;
}

.controlButtons
{
     display: flex;
     align-items: center;
     margin-left: 60px;
}
.divBut
{
     background-color: #414141;
     margin-right: 25px;
     width: 25px;
     padding: 10px;
     border-radius: 50%;
     text-align: center;
}
.divBut a
{
     text-decoration: none;
     color: #fff;
     font-size: 12px;
     font-weight: bold;
}
#divBut
{
     width: 60px;
     padding: 5px;
}
.para
{
     text-align: center;
     color: #fff;
}
.frequences
{
     margin: 40px 0px 20px 30px;
}
.frequences a
{
     color: #fff;
     text-decoration: none;
     display: block;
     width: 200px;
}
.more
{
     margin-left: 30px;
     margin-bottom: 105px;
}
.more a
{
     padding: 10px;
     border-radius: 5px;
     text-decoration: none;
     background-color: #414141;
     color: #2273C2;
}

.design
{
     background-color: #414141;
     width: 50px;
     height: 35px;
     margin-left: 140px;
     margin-bottom: 20px;
     border-radius: 2px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.rounded
{
     background-color: #416588;
     width: 15px;
     height: 15px;
     margin-left: 7px;
     border-radius: 50%;
}

.tirets h1
{
     font-weight: bold;
     font-size: 30px;
     margin-left: -25px;
}

.slash
{
     color: #414141;
     font-weight: bold;
     font-size: 40px;
     transform: rotate(45deg);
     margin-left: -38px;
     margin-bottom: -7px;
}
